# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0

config RTC_RV3029
	bool "Micro Crystal RV-3029-C2 I2C RTC driver"
	default y
	depends on DT_HAS_MICROCRYSTAL_RV_3029_C2_ENABLED
	select I2C
	help
	  Enable the Micro Crystal RV-3029-C2 I2C RTC driver.